<% include ./partials/header %>

<div class="container">
    <h1>Sign Up!</h1>
    
    <form action="/register" method="post">
        <input type="test" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button class="btn btn-sm btn-primary">Sign Up</button>
    </form>
</div>

<% include ./partials/footer %>